.icon-ring {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.8rem;
    border: 1px solid #fff;
    border-radius: 50%;

    .fa {
        @include absolute-center;
        color: #fff;

        &:hover {
            color: #179;
        }
    }

    &:hover {
        background: #fff;

        .fa {
            color: $color-link;
        }
    }
}
